description "Consul"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 10 5

umask 022
setuid {{ consul_user }}
kill signal {{ consul_service_stop_signal }}
reload signal HUP

exec {{ consul_bin_dir }}/consul agent -config-dir="{{ consul_conf_dir }}"
